
{% extends "base.html" %}

{% block title %} create {% endblock title %}

{% block content %}
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-xl mx-auto mt-20">
  <form method="post"  method="post" enctype="multipart/form-data" action=".">
    {% csrf_token %}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
        Title
      </label>
      <input
        value="{{ form.instance.title }}"  
        name="title"  
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="title" type="text" placeholder="Title">

        {% if form.title.errors %}
        <p class="text-red-500 text-xs italic">{{ form.title.errors.0 }}</p>
        {% endif %}
      
      </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
        Description
      </label>
      <textarea
        name="description" 
        class="h-32 py-2  shadow appearance-none border rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="description" placeholder="Description">{{ form.instance.description }}</textarea>

      {% if form.description.errors %}
         <p class="text-red-500 text-xs italic">{{ form.description.errors.0 }}</p>
       {% endif %}

    </div>
     <div class="mb-4 flex">
      <div class="w-1/2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="checkbox">
          Completed
        </label>
        <input
          name="is_complete"  
          {% if form.instance.is_complete %}checked{% endif %}  
          class="mr-2 leading-tight"
          id="checkbox" type="checkbox">
        <span class="text-gray-700 text-sm">Is Completed</span>
        {% if form.is_complete.errors %}
        <p class="text-red-500 text-xs italic">{{ form.is_complete.errors.0 }}</p>
        {% endif %}
      </div>
      <div class="w-1/2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="due_date">
          Due Date
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="due_date"
          type="date"
          name="due_date"
          placeholder="Due Date">
      </div>
     </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="option">
        
        Priority
      </label>
      <select
        name="priority" 
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="option">
        <option value="Low" {% if form.instance.priority == "Low" %}selected{% endif %}>Low</option>
        <option value="Medium" {% if form.instance.priority == "Medium" %}selected{% endif %}>Medium</option>
        <option value="High" {% if form.instance.priority == "High" %}selected{% endif %}>High</option>
      </select>
      {% if form.priority.errors %}
      <p class="text-red-500 text-xs italic">{{ form.priority.errors.0 }}</p>
      {% endif %}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="images">
        Images
      </label>
      <input
        name="images"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="images"
        type="file"
        multiple
      >
      
      {% if form.images.errors %}
        <p class="text-red-500 text-xs italic">{{ form.images.errors.0 }}</p>
      {% endif %}
    </div>

    <div class="flex items-center justify-between mt-10">
      <button
        class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Create
      </button>
    </div>
  </form>
</div>


{% endblock content %}

<h1>Create Lead</h1>
<form method="POST" action=".">
  {% csrf_token %} {{form.as_p}}
  <button type="submit">Submit</button>
</form>